<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.StudentMapper">
    <select id="findById"  resultType="com.example.demo.pojo.Student">
        select * from Student where id = #{id}
    </select>
    <insert id="save" parameterType="com.example.demo.pojo.Student">
        insert into Student (name, age) values (#{name}, #{age})
    </insert>
    <update id="update" parameterType="com.example.demo.pojo.Student">
        update Student set name = #{name}, age = #{age} where id = #{id}
    </update>
    <delete id="deleteAllById" parameterType="long">
        delete from Student where id in <foreach item="id" collection="ids" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
    <select id="findAll" resultType="com.example.demo.pojo.Student">
        select * from Student
        <where>
         <if test="name != null and name != ''">
            and name like concat('%',#{name},'%')
         </if>
         <if test="age != null">
            and age = #{age}
         </if>
        </where>
    </select>
</mapper>
